body{
    background-color: rgb(192, 247, 170);
}
.h2{
    position: relative;
    text-align: center;
    background-color: rgb(235, 183, 12);
}
.formulaire{
    position: relative;
    text-align: center;
}
.form{
    border-style: solid;
    border-color: rgb(235, 183, 12);
}
.valider{
    background-color: rgb(235, 183, 12);
}
.final{
    position: relative;
    text-align: center;
    background-color: rgb(235, 183, 12);
}